.header{
  float: left;
}

.value{
  text-align: right;
}

.collection{
  border-radius: 10px
}
.collection .collection-item{
  background-color: rgba(255,255,255,0.5);
}

.collection-item:nth-child(3) div{
  font-weight: 500;
}