table{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  padding: 10px;
}

table tbody tr{
  cursor: pointer;
}

.header-container{
  position: relative;
}
.button-container{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btn{
  background: #6a1b9a;
}
