.top-nav{
  position: fixed;
  width: 100%;
  height: 50px; 
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  border-bottom: 1px #45588e solid;
}

.top-nav p.logo{
  position: absolute;
  font-size: 19px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}