.trade-form{

  background: rgba(255,255,255,0.7);
  float: none !important;
  margin: auto;
  border-radius: 15px;
  padding: 16px 40px 40px !important;
  margin-top: 35px;
}

.trade-form h2,
.trade-form h3,
.trade-form p{
  text-align: center;
}

.trade-form h2{
  font-size: 4.56rem;
  margin-top: -15px;
}

.trade-form h3{
  margin-top: -8px;
}

.trade-total{
  font-size: 3.5rem
}

.trade-form .qty-input{
  font-size: 3.5rem !important;
  border: 1px solid #45588e !important;
  padding: 20px 0px !important;
  text-align: center;
}

.trade-btn{
  display: block;
  width: 100%;
  font-size: 2.5rem;
  height: 60px;
}

.home-message{
  text-align: center;
}

.close-btn{
  color: #45588e;
}
.close-btn i{
  font-size: 40px;
}

@media only screen and (min-width: 993px){
  .trade-form h2,
  .trade-form h3{
    font-size: 4.5rem;
  }

}
